body{
  background-color: #f6f3df;

}

#content{
  margin-left: 400px;
  margin-right: 400px;

}

#date{
  text-align: center;
}

#headline{
  text-align: center;
  font-size: 3vw;
  font-style: embassy;
}

#headphoto{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;

}

div.button{
  text-align: center;
  width: 100%;
}

button{
  margin-bottom: 20px;


}

button.singlebutton{
  margin-left: 20px;
  margin-right: 20px;
}

div.fix{
  position:fixed;
  left:0;
  right:0;
  top:0;
  height: auto;
  background-color: white;
}

div.underfix{
  margin-top: 180px;
}

#invite{
  text-align: center;
  margin-top: 50px;
}

p.bold{
  font-weight: bold;
}

#directions{
  margin-top: 150px;


}


#programme{
  margin-top: 150px;
}
